extends layout

block content
    .w3-col.m3 &nbsp;
    .w3-col.m6
        .w3-panel.sidebar.w3-round-xlarge
            .w3-block.w3-panel.contains.w3-leftbar.w3-rightbar.w3-border-dark-gray.w3-round-large
                h2 Hello
    .w3-col.m3 &nbsp;