extends layout

block content
    .w3-col.m3 &nbsp;
    .w3-col.m6
        //- Page title
        .w3-panel.sidebar.w3-round-xlarge
            .w3-block.w3-panel.contains.w3-leftbar.w3-rightbar.w3-border-dark-gray.w3-round-large
                h2.w3-center Find a League

        //- Page content
        .w3-panel.sidebar.w3-round-xlarge
            
            //- Highschool
            .w3-button.w3-panel.w3-block.contains.w3-left-align.w3-hover-gray.w3-leftbar.w3-border-dark-gray.league.w3-round-large(onclick="openL('highschool')")
                h3 Highschool
            //- Accordion content, hidden by default until button is clicked
            .w3-hide.w3-panel.w3-gray.w3-leftbar.w3-border-green.w3-round-large(id="highschool", style="margin-left:16px")
                h3 City
                //- When submit button is clicked, take the /schools route with the post method. This will let us send the data the user inputted into the textbox to the server
                //- The textbox data will be sent in the request body and can be identified by the server with req.body.cityHS
                //- These same ideas hold true for the college form below
                form(action="/schools" method="post")
                    input.w3-block.searchbar(type="text", placeholder="Enter a city", name="cityHS")
                    input.w3-button.w3-right.w3-panel.w3-light-gray.w3-round-large(type="submit")

            //- College
            .w3-button.w3-panel.w3-block.contains.w3-left-align.w3-hover-gray.w3-leftbar.w3-border-dark-gray.league.w3-round-large(onclick="openL('college')")
                h3 College
            //- Accordion content, hidden by default until button is clicked
            .w3-hide.w3-panel.w3-gray.w3-leftbar.w3-border-green.w3-round-large(id="college", style="margin-left:16px")
                h3 City
                form(action="/schools" method="post")
                    input.w3-block.searchbar(type="text", placeholder="Enter a city", name="cityCollege")
                    input.w3-button.w3-right.w3-panel.w3-light-gray.w3-round-large(type="submit")

            //- Semipro
            .w3-button.w3-panel.w3-block.contains.w3-left-align.w3-hover-gray.w3-leftbar.w3-border-dark-gray.league.w3-round-large(onclick="openL('semipro')")
                h3 Semi-Pro
            //- Accordion content, hidden by default until button is clicked
            .w3-hide.w3-panel.w3-gray.w3-leftbar.w3-border-green.w3-round-large(id="semipro", style="margin-left:16px")
                h3 City
                input.w3-block.searchbar(type="text", placeholder="Enter a city", id="textS")
                button.w3-button.w3-right.w3-panel.w3-light-gray.w3-round-large(id="submitS" onclick="sendCity('textS', 'Semi-pro', 'submitS')") Submit
            
            //- Minors
            .w3-button.w3-panel.w3-block.contains.w3-left-align.w3-hover-gray.w3-leftbar.w3-border-dark-gray.league.w3-round-large(onclick="openL('minors')")
                h3 Minors
            //- Accordion content, hidden by default until button is clicked
            .w3-hide.w3-panel.w3-gray.w3-leftbar.w3-border-green.w3-round-large(id="minors", style="margin-left:16px")
                h3 City
                input.w3-block.searchbar(type="text", placeholder="Enter a city", id="textM")
                button.w3-button.w3-right.w3-panel.w3-light-gray.w3-round-large(id="submitM" onclick="sendCity('textM', 'Minors', 'submitM')") Submit
    .w3-col.m3 &nbsp;