extends layout

block content
    .w3-col.m3 &nbsp;
    .w3-col.m6
        .w3-panel.sidebar.w3-round-xlarge
            .w3-block.w3-panel.contains.w3-leftbar.w3-rightbar.w3-border-dark-gray.w3-round-large
                h2(id="league") Hello
                h2(id="organization") Hello
                h2(id="street") Hello
                h2(id="city") Hello
                h2(id="state") Hello
                h2(id="country") Hello
    .w3-col.m3 &nbsp;

    script.
    
        document.addEventListener('DOMContentLoaded', function() {

            var leaguename = localStorage.getItem('league');
            var searchQuery = localStorage.getItem('cityName');
      
            var result = searchQuery.split(', ');

            var l = result.length;
            var organization, street, city, state, country;

            organization = result[l-5];
            street = result[l-4];
            city = result[l-3];
            state = result[l-2];
            country = result[l-1];
  
            document.getElementById("league").innerHTML = "Level: " + leaguename;
            document.getElementById("organization").innerHTML = "Organization: " + organization;
            document.getElementById("street").innerHTML = "Street: " + street;
            document.getElementById("city").innerHTML = "City: " + city;
            document.getElementById("state").innerHTML = "State: " + state;
            document.getElementById("country").innerHTML = "Country: " + country;
        });
